@{
    ViewBag.Title = "AddReferral";
    Layout = "~/Views/Shared/_LayoutHomer.cshtml";
}

<h2>Add a referral</h2>

<div class="row-fluid">
    <div class="col-lg-8">
        <div class="hpanel">
            <div class="panel-heading">
                Editor
            </div>
            <div class="panel-body">
                <form method="get" class="form-horizontal referralForm" role="form">
                    <div class="form-group">
                        <label for=" ddmenu" class="col-sm-2 control-label">
                            Partner Type:
                        </label>
                        <div class="col-sm-4">
                            <select class="form-control" id="ddMenu" name="PartnerType">
                                <option value="">Select Type</option>
                                <option value="1">Type one</option>
                                <option value="2">Type two</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label for="pName" class="col-sm-2 control-label">Partner Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" autofocus id="pName" name="PartnerName">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label for="pDesc" class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <textarea type="text" style="resize:none" class="form-control" rows="7" id="pDesc" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label for="pUrl" class="col-sm-2 control-label">URL:</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="pUrl" name="URL">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AC" class="col-sm-2 control-label">Affiliate Code:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="AC" name="AffiliateCode">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button class="btn btn-default" type="submit" id="formCancel" style="margin-left:10px">Cancel</button>
                            <button class="btn btn-primary" style="margin-left:10px" type="submit" id="formSave">Save</button>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="id" id="referralId" value="" />
                </form>
            </div>
        </div>
        <div class="alert " id="msgWindow"></div>
    </div>

</div>

@section Scripts {

<script src="~/Scripts/sabio/sabio.services.PartnerReferral.js"></script>
<script type="text/javascript">

        sabio.page.startUp = function () {

            sabio.page.initializeValidation();

            $("#formSave").on("click", sabio.page.handlers.onFormSubmit);

            $("#formCancel").on("click", sabio.page.resetForm);

        };

        sabio.page.initializeValidation = function () {
            jQuery.validator.setDefaults({
                debug: true
            });

            $('.referralForm').validate({
                rules: {
                    "PartnerType": {
                        required: true  // A partner type is required
                    },
                    "PartnerName": {
                        required: true  // A partner name is required
                    },
                    "Description": {
                        required: true  // A Description is required
                    },
                    "URL": {
                        required: true  // A URL is required
                    },
                    "AffiliateCode": {
                        required: true  // An affiliate code is required
                    }
                },
                messages: {
                    "PartnerType": {
                        required: "Please select partner type."
                    },
                    "PartnerName": {
                        required: "The partner name is required."
                    },
                    "Description": {
                        required: "A brief description is required."
                    },
                    "URL": {
                        required: "Your URL must be a valid http:// address."
                    },
                    "AffiliateCode": {
                        required: "An affiliate code is required."
                    }
                }
            });
        };

        sabio.page.handlers.onFormSubmit = function () {
            if ($('.referralForm').valid()) {

                sabio.services.referral.add();

        }
        else {
        }
        };

        function onAddSuccess(data, status, xhr) {
            console.log(JSON.stringify(data));
            $("#msgWindow").removeClass("alert-danger");
            $("#msgWindow").addClass("alert-info");
            $("#msgWindow").html((JSON.stringify(data)));

            sabio.page.referralId = data.item;
            $('#referralId').val(sabio.page.referralId);
            console.log(data);

            window.setTimeout(function () {
                window.location.href = "/Partner/";
            }, 500);
        }

        function onAddError(jqXHR, textStatus, errorThrown) {
            console.log(JSON.stringify(data));
            $("#msgWindow").addClass("alert-danger");
            $("#msgWindow").removeClass("alert-info");
            $("#msgWindow").html((JSON.stringify(data)));
        }

        sabio.page.resetForm = function (evnt) {
            evnt.preventDefault();
            $('form')[1].reset();
        }

</script>

}

@section Styles {

<style type="text/css">
    .form-control:focus {
        border-color: rgba(103, 243, 43, 0.48) !important;
        box-shadow: rgba(103, 243, 43, 0.48) 0 0 10px !important;
    }

    .form-control.error {
        border-color: #E74C3C !important;
        box-shadow: #E74C3C 0 0 10px !important;
    }

    .btn-primary {
        color: #ffffff;
        background-color: rgb(54, 195, 33) !important;
        border-color: rgb(54, 195, 33) !important;
    }

        .btn-primary:hover {
            background-color: rgba(46, 221, 19, 0.73) !important;
            border-color: rgba(46, 221, 19, 0.73) !important;
            color: #ffffff;
        }
</style>
}





